@import 'bootstrap';///dist/css/bootstrap.min.css';
@import 'variables';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;

	& > main {
		flex: 1 0 auto;
	}
}

.btn-primary {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.content {
	padding: 5px 0;
}
